@media screen and (min-width: 600px) {
    .chicago-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1000px;
    }
}

.chicago-container {
    margin: 20px auto;
}

.chicago-text-container {
    margin: 20px;
}

.chicago-container h2 {
    font-size: 64px;
    margin-bottom: 0;
}

.chicago-container h3 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 400;
}

.chicago-container img {
    max-width: 100%;
}
