.main-nav {
    grid-column-start: 2;
    justify-self: center;
}
.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav li {
    margin: 10px;
}

.main-nav ul li a {
    text-decoration: none;
}
