.main-nav {
    grid-column-start: 2;
    justify-self: center;
}
.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav li {
    margin: 10px;
}

.main-nav ul li a {
    text-decoration: none;
}

.logo {
    max-width: 200px;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu-icon {
        display: block;
        position: absolute;
        right: 40px;
        top: 50px;
    }

    .main-nav {
        display: none;
    }
    .main-nav.show {
        display: block !important;
    }
}
